GitPython

tree-sitter
tree-sitter-language-pack

langchain
langchain-core
langchain-community
langchain-groq
sentence-transformers

qdrant-client

fastapi
uvicorn[standard]

pydantic
python-dotenv

requests

streamlit